.bgImgCenter{
    background-image: url('../Project-2/images/10677.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;;
}

.jumbotron{
    /* background-color: #2C561B!important; */
    height: 50!important;
}

.jumbotron-fluid{
    /* background-color: #2C561B!important; */
    height: 50!important;
    /* background: rgba(76, 175, 80, 0.6)!important; */
    /* background: rgba(204, 204, 204, 0.5)!important; */
    background: none !important;
}


#backgroundimage
{
   height: auto;
   left: 0;
   margin: 0;
   min-height: 100%;
   min-width: 674px;
   padding: 0;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: -1;
}

.lgtgrn {
    color: #7c8e00;
    
}

.brn {
    color: #704b35;
}

.lgtbrn {
    color: #c06736;
}

.opa60 {
    top: 500px;
        background: rgba(76, 175, 80, 0.6);
}

.drkgrn {
    color: #2C561B;
}

.lgtyellow {
    color: #ffb700;
}

.pink {
    color: #ee7653;
}






