<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
   {{!-- <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script> --}}
{{!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-app.js"></script> --}}
{{!-- <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script> --}}
  {{!-- <script src="moment.js"></script> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./styles/jeff.css">

  {{!-- <link rel="stylesheet" type="text/css" href="../public/styles/style.css"> --}}
  <link href="https://fonts.googleapis.com/css?family=McLaren" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvB3UDvHwcSgPW6OCsJxf46fnHwAZNk2E&callback=initMap">
  </script>
</body>

</html>
