<!-- home -->
<div id="home">

  <!-- ====================================================================== -->
  <!-- display main screen -->
  <!-- ====================================================================== -->
  <div class="container">
    <!-- display wording on main screen -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="text-center lgtyellow">Take a Hike</h1>
    <h3 class="text-center lgtyellow">Hike your way through the 48 4000 foot mountains of NH </h3>
    <h3 class="text-center lgtyellow">Track your progress, plan a hike and connect with other hikers </h3>
    <!-- display background image on main screen -->
    <div>
      <img id="backgroundimage" src="/images/10677.jpg" alt="">
    </div>
  </div> <!-- end container for the main screen -->

  <!-- ====================================================================== -->
  <!-- sign in modal -->
  <!-- ====================================================================== -->
  <div class="modal fade  " id="sign-in-modal" tabindex="-1" role="dialog">

    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">

      <!-- modal-content -->
      <div class="modal-content">

        <!-- display modal sign in box -->
        <div class="modal-header">
          <h5 class="modal-title">Sign in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- end display modal sign in box -->

        <!-- display sign up and sign in modal -->
        <div class="modal-body">

          <!-- ====================================================================== -->
          <!-- existing hiker sign in -->
          <!-- ====================================================================== -->
          <div id="sign-in-text">
            <p>Enter your information below to sign in</p>

            <!-- get username -->
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Your Username</label>
              <input type="username" class="user-login-info" id="defaultForm-user" class="form-control validate">
            </div>
            <!-- end get username -->

            <!-- get password -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
              <input type="password" class="password-login-info" id="defaultForm-Pass" class="form-control validate">
            </div>
            <!-- end get password -->

            <!-- new user sign-in and close buttons -->
            <div class="modal-footer">
              <div id="switch-sign-up">New User</button>
              </div>
              <button type="button" id="start-sign-in" class="btn btn-primary">Sign In</button>
              <button type="submit" id="close-modal" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            <!-- end new user sign-in and close buttons -->

          </div>
          <!-- end existing hiker sign in -->

          <!-- ====================================================================== -->
          <!-- set up new hiker profile -->
          <!-- ====================================================================== -->
          <div id="sign-up-text">
            <p>Enter your information below to sign up</p>

            <!-- create hiker username -->
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Create Username</label>
              <input type="username" class="user-login-info" id="defaultForm-new-user" class="form-control validate">
            </div>
            <!-- end create hiker username -->

            <!-- create hiker password -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Create password</label>
              <input type="password" class="password-login-info" id="defaultForm-new-pass" class="form-control validate">
            </div>
            <!-- end create hiker password -->

            <!-- get hiker first name -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">First name:</label>
              <input type="name" id="defaultForm-first-name" class="form-control validate">
            </div>
            <!-- end getting hiker first name -->

            <!-- get hiker last name -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Last Name</label>
              <input type="name" id="defaultForm-last-name" class="form-control validate">
            </div>
            <!-- end get hiker last name -->

            <!-- get hiker display name -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Create a display name for other
                users to see.</label>
              <input type="display" id="defaultForm-display-name" class="form-control validate">
            </div>
            <!-- end get hiker display name -->

            <!-- get hiker short bio -->
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Tell us a bit about yourself</label>
              <input type="info" id="defaultForm-new-info" class="form-control validate">
            </div>
            <!-- end get hiker short bio -->

            <!-- get hiker profile image -->
            <div class="image-selector-div">
              <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-image">Pick an Avatar</label>
              <select class="image-file">
                <option>Pick One</option>
                <option>Bear</option>
                <option>Cat</option>
                <option>Dragon</option>
                <option>Goat</option>
                <option>Koala</option>
                <option>Panda</option>
                <option>Pig</option>
                <option>Squirrel</option>
              </select>
                          </div>
             
              
  <img src = "./images/profile-images/Bear.jpg" id= "bear-pic" value="bear" class ="profile-pic-options">
  <img src = "./images/profile-images/Cat.jpg" id ="cat-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Dragon.jpg" id = "dragon-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Goat.jpg" id = "goat-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Koala.jpg" id ="koala-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Panda.jpg" id ="panda-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Pig.jpg" id = "pig-pic" class="profile-pic-options">
  <img src = "./images/profile-images/Squirrel.jpg" id = "squirrel-pic" class="profile-pic-options">
  
            </div>
            <!-- end get hiker profile image -->

            <!-- allow hiker to return to sign in -->
            <div class="modal-footer">
              <div id="return-to-sign-in">Return to Sign In
              </div>
              <button type="button" id="start-sign-up" class="btn btn-primary">Sign Up</button>
              <button type="submit" id="close-modal" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            <!-- end allow hiker to return to sign in -->

          </div>
          <!-- end set up new hiker profile -->
        </div>
        <!-- end display sign up and sign in modal -->
      </div>
      <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
  </div>
  <!-- sign in modal -->

  <!-- ====================================================================== -->
  {{!--
  <div class="modal fade  " id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your profile?</p>
          <div class="modal-footer">
            <button type="button" id="confirm-delete-button" class="btn btn-primary">Yes</button>
            <button type="submit" id="close-modal" class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div> --}} {{!-- ************************* --}}

</div>
<!-- end home -->
  {{!-- <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script> --}}
 {{!-- <script src = "https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
  <script src = "https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<script>
  {{!-- var config = {
  
};
firebase.initializeApp(config); --}}
</script>