<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/jeff.css" media="screen" title="no title" charset="utf-8">
    <title>Second Screen Design</title>
</head>

<body>

    <div class="container">

        <!-- header -->
        <div id="hikerHeader" class="row">
            <img id="hikerLogo" src="../public/images/logo1.png" alt="Take-a-Hike Logo">
        </div>

        <!-- second screen content area is broken in to single row with 2 columns-->
        <div id="hikerScreen" class="row">

            <!-- profile column -->
            <div id="hikerProfile" class="col-3">

                <!-- display sign in or sign out button -->
                <!-- we will unhide whichever button is relevent to the hiker -->
                <br>

                <!-- if the hiker is signed in we unhide the sign out button and display hiker info -->
                <button id="signOutBtn" class="btn-success btn-block hide">Sign Out</button>
                <!-- if the hiker is not signed in we display the sign in button-->
                <button id="signInBtn" class="btn-success btn-block hide">Sign In</button>

                <!-- if the hiker is signed in we display hiker info -->
                <p id="hikerName"><strong>Jack-the-Hiker</strong></p>
                <img id="hikerPic" src="../public/images/jack.jpg" alt="Hiker Pic">
                <br>

                <!-- if the hiker is signed in we can display the My Hikes feature-->
                <button id="myHikesBtn" class="btn-success btn-block hide">My Hikes</button>

                <!-- the following functions are available all the time-->
                <button id="researchMapBtn" class="btn-success btn-block">Research My Next Hike</button>
                <button id="exploreMountainsBtn" class="btn-success btn-block">Explore Mountains</button>
                <button id="reviewBlogsBtn" class="btn-success btn-block">Review Blog</button>
                <button id="nhWeatherBtn" class="btn-success btn-block">NH Weather Forecast</button>

            </div> <!-- end profile column -->

            <!-- main display area -->
            <div id="hikerDisplay" class="col-9">
                <!-- display mountains already hiked -->
                <div class="row">
                    Display Space
                    <!-- <img src="../public/images/TAH.JPG" alt="Mountain View"> -->
                </div> <!-- end display mountains already hiked -->
                <!-- display google map so hiker can research mountains and hikes -->
                <div class="row">
                </div> <!-- end display googke maps -->
            </div> <!-- end main display area column -->

        </div> <!-- end second screen row -->

        <!-- footer -->
        <div id="hikerFooter" class="row">
            A TRBL Coders Design 2019
        </div>

    </div> <!-- end container -->

</body>

</html>