<!-- this screen is the main screen of take_a_hike app after -->
<!-- after login this screen is displayed and all actions driven from here -->

<div class="container">

    <!-- main screen header -->
    <div id="hikerHeader" class="row">
        <img id="hikerLogo" src="/images/logo1.png" alt="Take-a-Hike Logo">
    </div>

    <!-- second screen content area is broken in to single row with 2 columns-->
    <div id="hikerScreen" class="row">

        <!-- profile column -->
        <div id="hikerProfile" class="col-3">

            <!-- display sign in or sign out button -->
            <!-- we will unhide whichever button is relevent to the hiker -->
            <br>
            <!-- if the hiker is signed in we display hiker info -->
            <p id="username-input"></p>
            <img id="hikerPic" src="/images/jack.jpg" alt="Hiker Pic">
            <br>
            <!-- if the hiker is signed in we unhide the sign out button and display hiker info -->
            <button id="signOutBtn" class="btn-success btn-block hide">Sign Out</button>

            <!-- if the hiker is signed in we can display the My Hikes feature-->
            <button id="myHikesBtn" class="btn-success btn-block hide">My Hikes</button>

            <!-- the following functions are available all the time-->
            <button id="researchMapBtn" class="btn-success btn-block">Research My Next Hike</button>
            <button id="exploreMountainsBtn" class="btn-success btn-block">Explore Mountains</button>
            <button id="reviewBlogsBtn" class="btn-success btn-block">Review Blog</button>
            <button id="nhWeatherBtn" class="btn-success btn-block">NH Weather Forecast</button>

        </div> <!-- end profile column -->

        <!-- main display area -->
        <div id="hikerDisplay" class="col-9">
            <!-- display mountains already hiked -->
            <div class="row">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1uOqwaKQq791rvS58dFlk9QRL63x4yFUm" width="840"
                    height="440"></iframe>
                <!-- <img src="../public/images/TAH.JPG" alt="Mountain View"> -->
            </div> <!-- end display mountains already hiked -->
            <!-- display google map so hiker can research mountains and hikes -->
            <div class="row">
            </div> <!-- end display googke maps -->
        </div> <!-- end main display area column -->

    </div> <!-- end second screen row -->

    <!-- footer -->
    <div id="hikerFooter" class="row">
        A TRBL Coders Design 2019
    </div>

</div> <!-- end container -->

<!-- comment why we load this when we do... -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>