#profile-section {
  /* background-color:rgb(228, 126, 31) */
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat
}
#username-input{
    color:rgb(34, 54, 48)
}
.profile-button{
    background-color:rgb(34, 54, 48);
    color: rgba(245, 245, 245, 0.685)
}
html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#hikerHeader {
    height: 15%;
    width: 100%;
    background-color: rgb(3, 133, 89);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

#hikerScreen {
    height: 80%;
    width: 100%;
}

#hikerProfile {
    height: 100%;
    width: 25%;
    background-color: rgb(3, 133, 89);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;

}

#hikerDisplay {
    height: 100%;
    width: 75%;
    background-color: rgb(3, 133, 89);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

#hikerFooter {
    height: 5%;
    width: 100%;
    background-color: rgb(3, 133, 89);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    display: block;
    text-align: center;
}

#hikerLogo {
}

#hikerName {
    color: white;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#hikerPic {
    width: 80%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }